{% extends "base.html" %}
{% load widget_tweaks %} #usado para renderizar os camops dos forms
{% block content %}
<div class = "splash">
    <div class="pure-g-r">
    </div>
</div>
<form name="form" class="pure-form pure-form-aligned" method="GET" >
<table class="table full"  cellspacing="1" cellpadding="2"  align="center" id="minhaTabela">
  <thead>
    <th colspan="14" bgcolor="#6699CC">
      <div align="center"><font face="Arial" size="4"><b><font color="#FFFFFF">Relação de Serviços tirados</font></b></font></div>
    </th>
    <tr bgcolor="cccccc">
      <th colspan="2" align = "center">Data</th>
      <th colspan="2" align = "center">Dia</th>
      <th colspan="2" align = "center">Escala</th>
      <th colspan="2" align = "center">Posto/Grad</th>
      <th colspan="4" align = "center">Nome</th>
      <th colspan="2" align = "center">Folga</th>
    </tr>
  </thead>
  <tbody>
    {% for escalado in escalados %}
      <tr bgcolor="ebebeb">
        <td colspan="2" align = center >
        {% if escalado.vermelha%}
        <font color="red">
          {{ escalado.data }}
        {%else %}
         <font color="#777" >
          {{ escalado.data }}
        {%endif%}
        </td>
        <td colspan="2" align = center >
          {% if escalado.vermelha %}
              <font color="red">
              {{ escalado.dia }}
          {%else %}
          <font color="#777" >
            {{ escalado.dia }}
          {%endif%}
        </td>
        <td colspan="2" align = left >
          {% if escalado.vermelha%}
              <font color="red">
              {{ escalado.descricao }}
          {%else %}
          <font color="#777" >
            {{ escalado.descricao }}
          {%endif%}
        </td>
        <td colspan="2" align=left>
          {% if escalado.vermelha%}
              <font color="red">
              {{ escalado.get_posto_display }}
          {%else %}
          <font color="#777" >
            {{ escalado.get_posto_display }}
          {%endif%}
        </td>
        <td colspan="4" align = left >
          {% if escalado.vermelha%}
              <font color="red">
                {%if escalado.nomesubstituto%}
                  {{ escalado.nomesubstituto }}
                {%else%}
                  {{ escalado.nomeguerra }}
                {%endif%}
          {%else %}
          <font color="#777" >
            {%if escalado.nomesubstituto%}
              {{  escalado.nomesubstituto  }}
            {%else%}
              {{ escalado.nomeguerra }}
            {%endif%}
          {%endif%}
        </td>
        <td colspan="2" align = center >
          {% if escalado.vermelha%}
              <font color="red">
              {{ escalado.folga }}
          {%else %}
          <font color="#777" >
            {{ escalado.folga }}
          {%endif%}
        </td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
  <!-- a tabela de rodapé, só será exibida se o usuário for administrador, is_staff -->
  {% if user.is_staff%}
      <table class="table full">
      <tfoot >
        {{ form.non_field_errors }}
        <tr bgcolor="#ebebeb">
          <!-- <td ><font face="Arial" size="2">De:</td>
          <td >
            <input type="date" name="dataInicio" value={{datetime.now}} id="idinicio">
        </td>
          <td ><font face="Arial" size="2">At&eacute;:</td>
          <td >
              <input type="date" name="dataFim" value="{{datetime.date.today|date:'Y-m-d' }}" id="idfim" >
          </td> -->
          <td >
    <!--        {#% render_field form.searchEscala size="30" placeholder="Filtrar pela Escala..."%}
    -->     <input name="escala" type="text" value="{{request.GET.escala}}" 
            placeholder="Filtrar pela Escala..."
            aria-label="Search through site content" size="30">

          </td>
          <td>
            <!-- <span class="input-group-addon">
                <button  name="filtrarescala" class="fa fa-search"
                style="background:transparent;border:none"
                formaction="{% url 'servico:servicos' %}"></button>
            </span> -->
          </td>
          <td colspan="2">
    <!--         {#% render_field form.searchMilitar size="30" placeholder="Filtrar pelo nome de Guerra..."%}
    -->
              <input name="militar" type="text" value="{{request.GET.militar}}"
              placeholder="Filtrar pelo nome de Guerra..."
              aria-label="Search through site content" size="30">

          </td>
          <td>
            <span class="input-group-addon">
              <button class="fa fa-search"
              style="background:transparent;border:none"
              formaction="{% url 'servico:servicos' %}"></button>
            </span>
          </td>
          <td >
            <a href="{% url 'servico:GeneratePDF'%}" class="pure-button button-small"
            readonly={{user.is_superuser}}>Gerar PDF</a>
          </td>
        </tr>
      </tfoot>
    </table>
  {% endif %}
</form>

<div class="container" align="center">
  {% if escalados.has_other_pages %}
    <div class="pagination">
      {% if escalados.has_previous %}
        {%if request.GET.militar %}
          <a href="?page={{ escalados.previous_page_number }}&militar={{request.GET.militar}}" class="page-link">&laquo;</a>
        {%elif request.GET.escala %}
          <a href="?page={{ escalados.previous_page_number }}&escala={{request.GET.escala}}" class="page-link">&laquo;</a>
        {%else%}
        <a href="?page={{ escalados.previous_page_number }}" class="page-link">&laquo;</a>
        <a href="?page={{ escalados.previous_first_page }}" class="page-link"> Primeira &laquo;</a>
        {%endif%}
      {% endif %}

      {% with start_page=escalados.number|add:'-1' %}
        {% with end_page=escalados.number|add:'10' %}
          {% for page_number in escalados.paginator.page_range %}
             {%if request.GET.militar %}
              {% if escalados.number == page_number %}
                <a href="?page={{ page_number }}&militar={{request.GET.militar}}" class="active">{{ page_number }}</a>
              {% elif page_number >= start_page and end_page >= page_number  %}
                <a href="?page={{ page_number }}&militar={{request.GET.militar}}" class="page-link">{{ page_number }}</a>
              {%endif%}
            {%elif request.GET.escala %}
              {% if escalados.number == page_number %}
                <a href="?page={{ page_number }}&escala={{request.GET.escala}}" class="active">{{ page_number }}</a>
              {% elif page_number >= start_page and end_page >= page_number  %}
                <a href="?page={{ page_number }}&escala={{request.GET.escala}}" class="page-link">{{ page_number }}</a>
              {%endif%}
            {%else%}
              {% if escalados.number == page_number %}
                <a href="?page={{ page_number }}" class="active">{{ page_number }}</a>
              {% elif page_number >= start_page and end_page >= page_number  %}
                <a href="?page={{ page_number }}" class="page-link">{{ page_number }}</a>
              {%endif%}
            {%endif%}
          {% endfor %}
        {% endwith %}
      {% endwith %}
      
      {% if escalados.has_next %}
        {%if request.GET.militar %}
          <a href="?page={{ escalados.next_page_number }}&militar={{request.GET.militar}}" class="page-link"> &raquo;</a>
          <a href="?page={{ escalados.paginator.num_pages }}&militar={{request.GET.militar}}">last &raquo;</a>
        {%elif request.GET.escala %}
          <a href="?page={{ escalados.next_page_number }}&escala={{request.GET.escala}}" class="page-link"> &raquo;</a>
        {%else%}
          <a href="?page={{ escalados.next_page_number }}" class="page-link"></a>
          <a href="?page={{ escalados.paginator.num_pages }}">Última &raquo;</a>
        {%endif%}
      {% endif %}
    </div>
  {% endif %}
</div>

{% endblock %}
