<!--?
//=========================================
//  Sistema desenvolvido para o Exército Brasileiro
//  by: Edvaldo de Oliveira Sousa
//  email: edvaldo.cigex@gmail.com

// Página de designação de escalas para o militar previamente selecionado
//========================================= ?> -->

{% extends "base.html" %}
{% block content %}
{% block designacao %}{% endblock %}
  <!-- Tabela com as escalas cadastradas -->
  <table class="table full" align="center" id="minhaTabela">
    <thead>
      <th colspan="21" bgcolor="#6699CC">
        <div align="center"><font face="Arial" size="4"><b><font color="#FFFFFF">Escalas que está concorrendo</font></b></font></div>
      </th>
      <tr bgcolor="cccccc">
        <th colspan="1" >Escala</th>
        <th colspan="2">Tipo de Escala </th>
        <th colspan="14">Semana</th>
        <th colspan="1">Folga</th>
        <th colspan="1">Folga</th>
        <th colspan="1">Editar</th>
        <th colspan="1">Excluir</th>
      </tr>
    </thead>
    <body>
      {% for escalas in escalado_em %}
      <tr bgcolor="ebebeb">
        <td colspan="1" align = center >{{ escalas.descricao }}</td>
        <td colspan="2">
          <table style="width: 100%;">
            <tr>
              <td height="25">
                <div align="center">
                  <font color = "red">Vermelha:
                  {% if escalas.vermelha == True %}
                    <input type="checkbox" name="selected_options" checked disabled>
                  {% else %}
                    <input type="checkbox" name="selected_options" disabled>
                  {% endif %}
                  </font>
                </div>
              </td>
              <td height="25">
                <div align="center"> Preta:
                  {% if escalas.preta == True %}
                    <input type="checkbox" name="selected_options" checked disabled>
                  {% else %}
                    <input type="checkbox" name="selected_options" disabled>
                  {% endif %}
                </div>
              </td>
            </tr>
          </table>
        </td>
        <td colspan="14">
          <table style="width: 100%;">
            <tr>
              <td height="25">
                <div align="center"> Dom:
                  {% if escalas.dom == True %}
                    <input type="checkbox" name="selected_options" checked disabled>
                  {% else %}
                    <input type="checkbox" name="selected_options" disabled>
                  {% endif %}
                </div>
              </td>
              <td height="25">
                <div align="center"> Seg:
                  {% if escalas.seg == True %}
                    <input type="checkbox" name="selected_options" checked disabled>
                  {% else %}
                    <input type="checkbox" name="selected_options" disabled>
                  {% endif %}
                </div>
              </td>
              <td height="25">
                <div align="center"> Ter:
                  {% if escalas.ter == True %}
                    <input type="checkbox" name="selected_options" checked disabled>
                  {% else %}
                    <input type="checkbox" name="selected_options" disabled>
                  {% endif %}
                </div>
              </td>
              <td height="25">
                <div align="center"> Qua:
                  {% if escalas.qua == True %}
                    <input type="checkbox" name="selected_options" checked disabled>
                  {% else %}
                    <input type="checkbox" name="selected_options" disabled>
                  {% endif %}
                </div>
              </td>
              <td height="25">
                <div align="center"> Qui:
                  {% if escalas.qui == True %}
                    <input type="checkbox" name="selected_options" checked disabled>
                  {% else %}
                    <input type="checkbox" name="selected_options" disabled>
                  {% endif %}
                </div>
              </td>
              <td height="25">
                <div align="center"> Sex:
                  {% if escalas.sex == True %}
                    <input type="checkbox" name="selected_options" checked disabled>
                  {% else %}
                    <input type="checkbox" name="selected_options" disabled>
                  {% endif %}
                </div>
              </td>
              <td height="25">
                <div align="center"> Sáb:
                  {% if escalas.sab == True %}
                    <input type="checkbox" name="selected_options" checked disabled>
                  {% else %}
                    <input type="checkbox" name="selected_options" disabled>
                  {% endif %}
                </div>
              </td>
            </tr>
          </table>
        </td>
        <td colspan="1" height="25">
          <div align="center"><font face="Arial" size="2">
          {{escalas.realblack}}</font></div>
        </td>
        <td colspan="1" height="25">
          <div align="center"><font face="Arial" size="2" color="red">
          {{escalas.realred}}</font></div>
        </td>
        <td align = center >
  <!--        <a href="{#% url 'core:editar_escalar' escalas.idmilitar escalas.idcirculo escalas.id %}"> -->
          <a href="{% url 'core:editar_escalar' escalas.id %}">
            <i class="fa fa-edit"></i>
              Editar
          </a>
        </td>
        <td align = center >
  <!--        <a href="{#% url 'core:excluir_designacao' escalas.id %}" class="btn danger">-->
          <a href="{% url 'core:excluir_designacao' escalas.id %}" >
            <i class="fa fa-trash"></i>
            Excluir
          </a>
        </td>
      </tr>
      {% endfor endfor %}
    </body>
  </table>
  {% if escalado_em.has_other_pages %}
    <div class="pagination">
      {% if escalado_em.has_previous %}
        <a href="?page={{ escalado_em.previous_page_number }}">&laquo;</a>
      {% endif %}
      {% for i in escalado_em.paginator.page_range %}
        {% if escalado_em.number == i %}
          <a href="?page={{ i }}" class="active">{{ i }}</a>
        {% else %}
          <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
      {% endfor %}
      {% if escalado_em.has_next %}
        <a href="?page={{ escalado_em.next_page_number }}">&raquo;</a>
      {% endif %}
    </div>
  {% endif %}
  
  {% endblock %}
