{% extends "base.html" %}
{% load widget_tweaks %} #usado para renderizar os camops dos forms
{% block content %}
{% block militares %}{% endblock %}
<div class = "splash">
    <div class="pure-g-r">
    </div>
</div>
<form name="formPrevisao" class="pure-form pure-form-aligned" method="POST">
  {% csrf_token %}
<table class="table full"  cellspacing="1" cellpadding="2"  align="center" id="minhaTabela">
  <thead>
    <th colspan="21" bgcolor="#6699CC">
      <div align="center"><font face="Arial" size="4"><b><font color="#FFFFFF">Previsão da Escala de Serviço</font></b></font></div>
    </th>
    <tr bgcolor="cccccc">
      <th colspan="2" align = "center">Data</th>
      <th colspan="2" align = "center">Dia</th>
      <th colspan="2" align = "center">Escala</th>
      <th colspan="2" align = "center">Posto/Grad</th>
      <th colspan="4" align = "center">Nome</th>
      <th colspan="4" align = "center">OM</th>
      <th colspan="2" align = "center">Folga</th>
      {% if user.is_superuser %}
        <th colspan="3" align = "center">Ações</th>
      {%endif%}
      <!-- código abaixo usado apenas para preencher alinha da coluna até o final -->
      <th colspan="3" align = "center"></th> 
    </tr>
  </thead>
  <tbody>
    {% for escalado in previstos %}
      <tr bgcolor="ebebeb">
        <td colspan="2" align = center >
        {% if escalado.vermelha%}
        <font color="red">
          {{ escalado.data }}
        {%else %}
         <font color="#777" >
          {{ escalado.data }}
        {%endif%}
        </td>
        <td colspan="2" align = center >
          {% if escalado.vermelha %}
              <font color="red">
              {{ escalado.dia }}
          {%else %}
          <font color="#777" >
            {{ escalado.dia }}
          {%endif%}
        </td>
        <td colspan="2" align = left >
          {% if escalado.vermelha%}
              <font color="red">
              {{ escalado.descricao }}
          {%else %}
          <font color="#777" >
            {{ escalado.descricao }}
          {%endif%}
        </td>
        <td colspan="2" align=center>
          {% if escalado.vermelha%}
              <font color="red">
              {{ escalado.get_posto_display }}
          {%else %}
          <font color="#777" >
            {{ escalado.get_posto_display }}
          {%endif%}
        </td>
        <td colspan="4" align = left >
          {% if escalado.vermelha%}
              <font color="red">
                {%if escalado.nomesubstituto%}
                  {{ escalado.nomesubstituto }} - ({{ escalado.nomeguerra}})
                {%else%}
                  {{ escalado.nomeguerra }}
                {%endif%}
          {%else %}
            <font color="#777" >
            {%if escalado.nomesubstituto%}
              {{ escalado.nomesubstituto }} - ({{  escalado.nomeguerra  }})
            {%else%}
              {{ escalado.nomeguerra }}
            {%endif%}
          {%endif%}
        </td>
        <!-- ----------- -->
        <td colspan="4" align = center >
          {% if escalado.vermelha%}
            <font color="red">
            {{ escalado.get_codom_display}}
            </font>
          {%else %}
            <font color="#777" >
            {{ escalado.get_codom_display}}
            </font>
          {%endif%}
        </td>     
        <!-- ------    -->
        <td colspan="2" align = center >
          {% if escalado.vermelha%}
              <font color="red">
              {{ escalado.folga }}
          {%else %}
          <font color="#777" >
            {{ escalado.folga }}
          {%endif%}
        </td>
        <td colspan="3" align = center >
          {% if user.is_superuser %}
              <a href="{% url 'previsao:trocar_servico' escalado.id previstos.number %}" name="trocar">
              <i class="fa fa-edit"></i>
              {% if escalado.vermelha%}
                  <font color="red">
                    Trocar
              {%else %}
              <font color="#3b8bba" >
                Trocar
              {%endif%}
            </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% if user.is_superuser%}
  <table class="table full">
    <tfoot >
      {{ form.non_field_errors }}
      <tr bgcolor="#ebebeb">
        <td >
          <font face="Arial" size="2">De:
        </td>       
        <td >
            <input type="date" name="dataInicio" value="{{inicio |date:"Y-m-d" }}" id="idinicio">
        </td>
        <td >
          <font face="Arial" size="2">At&eacute;:
        </td>
        <td >
            <input type="date" name="dataFim" value="{{final |date:"Y-m-d" }}" id="idfim" >
        </td>
        <td >
          <input name="escala" type="text"
          placeholder="Filtrar pela Escala..."
          aria-label="Search through site content" size="30">
        </td>

        <td colspan="0">
          <input name="militar" type="text"
          placeholder="Filtrar pelo nome de Guerra..."
          aria-label="Search through site content" size="30">          
        </td>
        <td>
          <span class="input-group-addon">
              <button name="filtar" class="fa fa-search" id="btn-Name"
              style="background:transparent;border:none"
              formaction="{% url 'previsao:filtrar'%}"></button>        
          </span>
        </td>
        <td>
            <button type="submit" class="pure-button button-small", id="idexecutar"
            formaction="{% url 'previsao:previsao' %}">Executar</button>
        </td>
        <td >
            {% if podeGerarPDF %}
              <button type="submit" class="pure-button button-small"
              formaction="{% url 'previsao:GeneratePDF' %}">Gerar PDF</button>
            {%else%}
              <button type="submit" class="pure-button button-small" disabled>Gerar PDF</button>
            {%endif%}
        </td>
        <td colspan="6">
            {% if podeSalvar %}
              <button type="submit" class="pure-button button-small"
              formaction="{% url 'previsao:salvarServico' %}">Salvar Serviços</button>
            {% else %}
              <button type="submit" class="pure-button button-small" disabled>Salvar Serviços</button>  
            {% endif %}
        </td>
        <td colspan="6">
            {% if podeSalvar %}
              <button type="submit" class="pure-button button-small"
              formaction="{% url 'previsao:notificar_escalado' %}">Notificar Escalado</button>
            {% else %}
              <button type="submit" class="pure-button button-small" disabled>Notificar Via WhatsApp</button>
            {% endif %}
        </td>
      </tr>
    </tfoot>
  </table>
{% endif %}
</form>

<div class="container" align="center">
  {% if previstos.has_other_pages %}
    <div class="pagination">
      {% if previstos.has_previous %}
        {% if request.POST.militar %}
          {%if request.POST.escala %}
            <a href="?page={{ previstos.previous_page_number }}&militar={{request.POST.militar}}&escala={{request.POST.escala}}" class="page-link">&laquo;</a>
            <a href="?page={{ previstos.previous_first_page }}&militar={{request.POST.militar}}&escala={{request.POST.escala}}" class="page-link"> Primeira</a>
          {%else%}
            <a href="?page={{ previstos.previous_page_number }}&militar={{request.POST.militar}}" class="page-link">&laquo;</a>
            <a href="?page={{ previstos.previous_first_page }}&militar={{request.POST.militar}}" class="page-link"> Primeira</a>
          {% endif %}
        {%elif request.GET.militar %}
          {%if request.GET.escala %}
            <a href="?page={{ previstos.previous_page_number }}&militar={{request.GET.militar}}&escala={{request.GET.escala}}" class="page-link">&laquo;</a>
            <a href="?page={{ previstos.previous_first_page }}&militar={{request.GET.militar}}&escala={{request.GET.escala}}" class="page-link"> Primeira</a>
          {%else%}
            <a href="?page={{ previstos.previous_page_number }}&militar={{request.GET.militar}}" class="page-link">&laquo;</a>
            <a href="?page={{ previstos.previous_first_page }}&militar={{request.GET.militar}}" class="page-link"> Primeira</a>
          {%endif%}
        {%elif request.POST.escala %}
          {% if request.POST.militar %}
            <a href="?page={{ previstos.previous_page_number }}&militar={{request.POST.militar}}&escala={{request.POST.escala}}" class="page-link">&laquo;</a>
            <a href="?page={{ previstos.previous_first_page }}&militar={{request.POST.militar}}&escala={{request.POST.escala}}" class="page-link"> Primeira</a>
          {%else%}
            <a href="?page={{ previstos.previous_page_number }}&escala={{request.POST.escala}}" class="page-link">&laquo;</a>
            <a href="?page={{ previstos.previous_first_page }}&escala={{request.POST.escala}}" class="page-link"> Primeira</a>
          {%endif%}
        {%elif request.GET.escala %}
          {%if request.GET.militar %}          
            <a href="?page={{ previstos.previous_page_number }}&militar={{request.GET.militar}}&escala={{request.GET.escala}}" class="page-link">&laquo;</a>
            <a href="?page={{ previstos.previous_first_page }}&militar={{request.GET.militar}}&escala={{request.GET.escala}}" class="page-link"> Primeira</a>
          {%else%}
            <a href="?page={{ previstos.previous_page_number }}&escala={{request.GET.escala}}" class="page-link">&laquo;</a>
            <a href="?page={{ previstos.previous_first_page }}&escala={{request.GET.escala}}" class="page-link"> Primeira</a>
          {%endif%}
        {%else%}
          <a href="?page={{ previstos.previous_page_number }}" class="page-link">&laquo;</a>
          <a href="?page={{ previstos.previous_first_page }}" class="page-link"> Primeira</a>
        {%endif%}
      {% endif %}

      {% with start_page=previstos.number|add:'-3' %}
        {% with end_page=previstos.number|add:'3' %}
          {% for page_number in previstos.paginator.page_range %}
            {% if request.POST.militar %}
              {% if previstos.number == page_number %}
                {%if request.POST.escala %}
                  <a href="?page={{ page_number }}&militar={{request.POST.militar}}&escala={{request.POST.escala}}" class="active">{{ page_number }}</a>
                {%else%}
                  <a href="?page={{ page_number }}&militar={{request.POST.militar}}" class="active">{{ page_number }}</a>
                {%endif%}
              {% elif page_number >= start_page and end_page >= page_number  %}
                {%if request.POST.escala %}
                  <a href="?page={{ page_number }}&militar={{request.POST.militar}}&escala={{request.POST.escala}}" class="page-link">{{ page_number }}</a>
                {%else%}
                  <a href="?page={{ page_number }}&militar={{request.POST.militar}}" class="page-link">{{ page_number }}</a>
                {%endif%}
              {%endif%}
            {%elif request.GET.militar %}
              {% if previstos.number == page_number %}
                {%if request.GET.escala %}
                  <a href="?page={{ page_number }}&militar={{request.GET.militar}}&escala={{request.GET.escala}}" class="active">{{ page_number }}</a>
                {%else%}
                  <a href="?page={{ page_number }}&militar={{request.GET.militar}}" class="active">{{ page_number }}</a>
                {%endif%}
              {% elif page_number >= start_page and end_page >= page_number  %}
                {%if request.GET.escala %}
                  <a href="?page={{ page_number }}&militar={{request.GET.militar}}&escala={{request.GET.escala}}" class="page-link">{{ page_number }}</a>
                {%else%}
                  <a href="?page={{ page_number }}&militar={{request.GET.militar}}" class="page-link">{{ page_number }}</a>
                {%endif%}
              {%endif%}
            {%elif request.POST.escala %}
              {% if previstos.number == page_number %}
                {% if request.POST.militar %}
                  <a href="?page={{ page_number }}&militar={{request.POST.militar}}&escala={{request.POST.escala}}" class="active">{{ page_number }}</a>
                {%else%}
                  <a href="?page={{ page_number }}&escala={{request.POST.escala}}" class="active">{{ page_number }}</a>
                {%endif%}
              {% elif page_number >= start_page and end_page >= page_number  %}
                {% if request.POST.militar %}
                  <a href="?page={{ page_number }}&militar={{request.POST.militar}}&escala={{request.POST.escala}}" class="page-link">{{ page_number }}</a>
                {%else%}
                  <a href="?page={{ page_number }}&escala={{request.POST.escala}}" class="page-link">{{ page_number }}</a>
                {%endif%}
              {%endif%}
            {%elif request.GET.escala %}
              {% if previstos.number == page_number %}
                {% if request.GET.militar %}
                  <a href="?page={{ page_number }}&militar={{request.GET.militar}}&escala={{request.GET.escala}}" class="active">{{ page_number }}</a>
                {%else%}
                  <a href="?page={{ page_number }}&escala={{request.GET.escala}}" class="active">{{ page_number }}</a>
                {%endif%}
              {% elif page_number >= start_page and end_page >= page_number  %}
                {% if request.GET.militar %}
                  <a href="?page={{ page_number }}&militar={{request.GET.militar}}&escala={{request.GET.escala}}" class="page-link">{{ page_number }}</a>
                {%else%}
                  <a href="?page={{ page_number }}&escala={{request.GET.escala}}" class="page-link">{{ page_number }}</a>
                {%endif%}
              {%endif%}
            {%else%}
              {% if previstos.number == page_number %}
                <a href="?page={{ page_number }}" class="active">{{ page_number }}</a>
              {% elif page_number >= start_page and end_page >= page_number  %}
                <a href="?page={{ page_number }}" class="page-link">{{ page_number }}</a>
              {%endif%}
            {%endif%}
          {% endfor %}
        {% endwith %}
      {% endwith %}
      
      {% if previstos.has_next %}
        {% if request.POST.militar %}
          {%if request.POST.escala %}
            <a href="?page={{ previstos.next_page_number }}&militar={{request.POST.militar}}&escala={{request.POST.escala}}" class="page-link"> &raquo;</a>
            <a href="?page={{ previstos.paginator.num_pages }}&militar={{request.POST.militar}}&escala={{request.POST.escala}}">Última</a>
          {%else%}
            <a href="?page={{ previstos.next_page_number }}&militar={{request.POST.militar}}" class="page-link"> &raquo;</a>
            <a href="?page={{ previstos.paginator.num_pages }}&militar={{request.POST.militar}}">Última</a>
          {%endif%}
        {%elif request.GET.militar %}
          {%if request.GET.escala %}
            <a href="?page={{ previstos.next_page_number }}&militar={{request.GET.militar}}&escala={{request.GET.escala}}" class="page-link"> &raquo;</a>
            <a href="?page={{ previstos.paginator.num_pages }}&militar={{request.GET.militar}}&escala={{request.GET.escala}}">Última</a>
          {%else%}
            <a href="?page={{ previstos.next_page_number }}&militar={{request.GET.militar}}" class="page-link"> &raquo;</a>
            <a href="?page={{ previstos.paginator.num_pages }}&militar={{request.GET.militar}}">Última</a>
          {%endif%}

        {%elif request.POST.escala %}
          {% if request.POST.militar %}
            <a href="?page={{ previstos.next_page_number }}&militar={{request.POST.militar}}&escala={{request.POST.escala}}" class="page-link"> &raquo;</a>
            <a href="?page={{ previstos.paginator.num_pages }}&militar={{request.POST.militar}}&escala={{request.POST.escala}}">Última</a>
          {%else%}
            <a href="?page={{ previstos.next_page_number }}&escala={{request.POST.escala}}" class="page-link"> &raquo;</a>
            <a href="?page={{ previstos.paginator.num_pages }}&escala={{request.POST.escala}}">Última</a>
          {%endif%}
        {%elif request.GET.escala %}
          {% if request.GET.militar %}
            <a href="?page={{ previstos.next_page_number }}&militar={{request.GET.militar}}&escala={{request.GET.escala}}" class="page-link"> &raquo;</a>
            <a href="?page={{ previstos.paginator.num_pages }}&militar={{request.GET.militar}}&escala={{request.GET.escala}}">Última</a>
          {%else%}
            <a href="?page={{ previstos.next_page_number }}&escala={{request.GET.escala}}" class="page-link"> &raquo;</a>
            <a href="?page={{ previstos.paginator.num_pages }}&escala={{request.GET.escala}}">Última</a>
          {%endif%}

        {%else%}
          <a href="?page={{ previstos.next_page_number }}" class="page-link"> &raquo;</a>
          <a href="?page={{ previstos.paginator.num_pages }}">Última</a>
        {%endif%}
      {% endif %}
    </div>
  {% endif %}
</div>

{% endblock %}